.cover{
    background-image:url('/media//profile/developer_1.png');
    background-position: center;
    background-size:cover ;
    height: 100vh;

}
.custom-btn-container {
    text-align: center;
    margin-bottom: 20px;
}
.line-clamp {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 3em; /* Adjust this value based on the line height */
}

