{% extends 'partials/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="cover">
    <div class="container">
        <div class="row mt-4 pt-5">
            <div class="col-md-4 offset-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h4>LOGIN PAGE</h4>
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" value="LOGIN" class="btn btn-primary btn-block">
                        </form>
                        <div class="text-center my-2">
                            <a href="{%url 'password_reset'%}">Forget password</a>
                        </div>
                        <hr>
                        <div class="text-center">
                            <a class='btn btn-success' href="{% url 'signup' %}">Create an account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
