{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="cover">
<div class="container" >
    <div class="row mt-4 pt-5">
        <div class="col-md-4 offset-md-5">
            <div class="card shadow">
                <div class="card-body">
                    <h4>LOGOUT PAGE</h4>                                       
                       <div class="alert alert-info">YOU ARE LOGGEDOUT SUCCESSFULLY</div>
                
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
